{% entends " auth/base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div>
  <header>ログイン</header>
  <section>
    <form method="post" action="{{ url_for('auth.login') }}">
      {% for message in get_flashed_messages() %}
      <span>{{ message }}</span>
      {% endfor %}
      {{ form.csfr_token }}
      <p>{{ form.email(placeholder="メールアドレス")}}</p>
      <p>{{ form.password(placeholder="パスワード")}}</p>
      <p>{{ from.submit() }}</p>
      <p></p>
    </form>
  </section>
</div>
{% endblock %}